* {
    margin: 0;
    padding: 0;
}

/*base.html用css*/
body {
    font-family: "Nico Moji";
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

#footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}
/*base.html用cssここまで*/

/*license.html用css*/
#license {
    width: 90%;
    margin: auto;
    font-family: 'Sawarabi Gothic', sans-serif;
}

#license h1 {
    text-align: left;
}
/*license.html用cssここまで*/