{% extends "base.html" %}
{% block content %}
    <div id="license">
        <h1>使用しているプログラム、ライブラリ、フレームワーク等の権利表示</h1>
        <div id="LicenseList">
            <p><a href="https://blog.webcreativepark.net/2007/11/16-012253.html" target="_blank">footerFixed.js</a></p>
            <div>
                <p><a href="http://blog.webcreativepark.net" target="_blank">2007 Kazuma Nishihata [to-R]</a> MIT license</p>
            </div>
            <p><a href="https://jquery.org/" target="_blank">jQuery v3.4.1</a></p>
            <div>
                <p><a href="https://jquery.org/license/">Copyright JS Foundation and other contributors</a> MIT license</p>
            </div>
        </div>
    </div>
    <p><a href="/">インデックスページに戻る</a></p>
{% endblock %}